# Copyright (c) 2026
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config BOARD
    default "bluebirdVG015" if BOARD_BLUEBIRDVG015

config BOARD_BLUEBIRDVG015
    bool
    default y
    select CPU_MODEL_K1921VG015

    # Put defined MCU peripherals here (in alphabetical order)
    select HAS_PERIPH_TIMER
    select HAS_PERIPH_UART
